@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Big+Shoulders+Display:wght@100..900&family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: white;
  max-width: 1880px;
  min-width: 1270px;
  margin: 0 auto;
}
body nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  background-color: white;
  padding: 0 10%;
  z-index: 1;
}
body nav #company-logo {
  width: 15%;
}
body nav #company-logo img {
  width: 100%;
}
body nav .about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-content: start;
  list-style: none;
}
body nav .about li {
  margin: 0 5px 0 0;
}
body nav .about li a {
  padding: 10px;
  color: #616161;
  text-decoration: none;
}
body nav .about li a:hover {
  color: #ffffff;
  background-color: #001234;
  border-radius: 5px;
  transition: 0.5s ease;
}
body nav #navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 15px;
}
body nav #navigation .nav-b {
  align-content: center;
  text-align: center;
  font-size: 1.5rem;
  color: #001234;
  position: relative;
}
body nav #navigation .nav-b:hover .drop-down {
  visibility: visible;
  animation: dropDown 0.5s ease both;
}
@keyframes dropDown {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
body nav #navigation .nav-b i {
  padding: 20px 5px;
}
body nav #navigation .nav-b a {
  text-decoration: none;
  color: #001234;
}
body nav #navigation .nav-b .drop-down {
  position: absolute;
  left: -50px;
  font-size: 1rem;
  list-style: none;
  background-color: #001234;
  text-align: start;
  width: 100px;
  border: none;
  visibility: hidden;
}
body nav #navigation .nav-b .drop-down li {
  padding: 10px;
}
body nav #navigation .nav-b .drop-down li:hover {
  background-color: #2392ec;
  color: #001234;
}
body nav #navigation .nav-b .drop-down a {
  color: white;
}
body nav #navigation a {
  text-decoration: none;
  color: white;
}
body nav #navigation #purple-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 10px;
  background-color: #001234;
  border-radius: 0px 0px 10px 10px;
  transform: translateY(-5px);
  overflow: hidden;
}
body nav #navigation #purple-div .purple-div-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
body nav #navigation #purple-div .purple-div-bg i {
  font-size: 2rem;
}
body nav #navigation #purple-div .purple-div-bg:hover {
  background-color: #2392ec;
  color: #001234;
}
body .crazy-bill {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./images/illlustration1.jpeg");
  align-content: end;
}
body .crazy-bill .arrow {
  width: 65%;
  margin: 25rem 0 0 0;
  text-align: end;
}
body .crazy-bill .arrow img {
  width: 100px;
}
body .crazy-bill .crazy-bill-text {
  margin-right: 10%;
  text-align: end;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
}
body .crazy-bill .crazy-bill-text h1 {
  font-size: 4.5rem;
  color: #ff9933;
  font-weight: 300;
}
body .crazy-bill .crazy-bill-text span {
  text-decoration: underline;
}
body .crazy-bill .crazy-bill-icons {
  display: flex;
  justify-content: end;
  margin: 3rem 10% 3rem 0;
  text-align: center;
}
body .crazy-bill .crazy-bill-icons a {
  margin: 10px;
  text-decoration: none;
  color: white;
}
body .search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../image/illustration2.png");
  background-size: contain;
  background-position: right;
  background-color: #ff9933;
}
body .search #for-printer {
  padding: 30px 10%;
}
body .search #for-printer h2 {
  width: 40%;
  font-size: 2rem;
}
body .search #for-printer #all-products {
  background-color: white;
  padding: 10px;
  width: 40%;
  border-radius: 30px;
  margin: 2rem 0 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
body .search #for-printer #all-products input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
}
body .search #for-printer #all-products button {
  background-color: #2392ec;
  padding: 15px;
  border-radius: 20px;
  color: white;
  border: none;
}
body footer {
  background-color: #000000;
  color: white;
  padding: 1rem 10%;
}
body footer .newsletter {
  margin: 1rem auto;
}
body footer .company-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  align-items: start;
  align-content: start;
  gap: 20px;
}
body footer .company-information .company-article {
  background-color: #ff9933;
  width: 25%;
}
body footer .company-information .company-article img {
  width: 150px;
  filter: invert(50);
}/*# sourceMappingURL=style.css.map */