form{
    font-family: sans-serif;
    font-size: 16px;
}
fieldset{
    margin: 1rem 0;
    border: none;
    background-color: black;
    color: white;
}
.eachField{
    font-size: 22px;
    display: block;
    margin: 0.5rem 0;
}
.selectTag{
    width: 100%;
    padding: 10px;
}
.custom-option{
    display: none;
}
.custom-option input{
    padding: 10px;
}
.image-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.packaging-option,
.deliveryOption,
.finishing-option{
    display: inline-block;
    margin: 0 10px 0 0;
    cursor: pointer;
    width: 100%;
}
.packaging-option input[type="radio"],
.deliveryOption input[type="radio"],
.finishing-option input[type="radio"]{
    display: none;
}
.packaging-option span,
.deliveryOption span,
.finishing-option span{
    display: block;
    font-size: 15px;
}
.packaging-option img,
.deliveryOption img,
.finishing-option img{
    border: 2px solid transparent;
    width: 100px;
    height: 100px;
}
.packaging-option input[type="radio"]:checked + img,
.deliveryOption input[type="radio"]:checked + img,
.finishing-option input[type="radio"]:checked + img{
    border: 2px solid red;
}
